
// //Colors
// $testColor: red;
// $primary-text-color: rgb(254, 72, 189);
// $primary-bg-color: rgb(113, 113, 213);
// $mainBgColor: rgb(181, 214, 181);
// $textMain: rgb(39, 150, 175);


body {
  background-color: $mainBgColor;
  color: $textMain;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  margin: 0;
  padding: 0;
}


// @import './components/styles/SignupStyles.scss';
