// -----------------------------------------------------------------------------
// Basic typography styles
// -----------------------------------------------------------------------------

 /** get variables **/
@use '../abstracts' as *;

/** get fonts **/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');


body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

h1,h2,h3,h4,h5,h6{
  color: $brand-color;
}
