@use '../../stylesheets/abstracts' as *;


#login-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primary-text-color;
  background-color: $primary-bg-color;
}

input {
  /* styles for all inputs */
  padding: 0.6em;
  font-size: 0.8em;
}

input[type='email'] {
}
input[type='password'] {
}

#local-login {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    /* styles for all buttons */
    padding: 0.8em;
    font-size: 1rem;
    margin-top: 0.7em;
    background-color: green;
    border: 2px solid blue;
    border-radius: 8px;
    width: 80%;
  }
}

#oauth-box {
  //   border: 1px solid red;
  margin: 0.2em 0;
  display: flex;
}
.oauth-button {
  display: flex;
  align-items: center;
  padding: 0.8em;
  font-size: 0.8em;
  margin: 0 0.5em;
  background-color: green;
  border: 2px solid blue;
  border-radius: 8px;
}

.oauth-button svg {
  margin-right: 0.4em;
}
