@use '../abstracts/' as *;

#suggestion-submit {
  background-color: $button-bg-color;
  border: $button-accent-color 2px solid;
  padding: 0.8rem;
  border-radius: 8px;
  text-align: center;
}

#suggestion-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  button {
    width: 100%;
  }
}

#ask-for-suggestion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
