@use '../abstracts' as *;

#login-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  // color: $brand-color;
  background-color: $bg-color;
}

#local-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#oauth-box {
  //   border: 1px solid red;
  margin: 0.2em 0;
  display: flex;
}

.login-button:hover {
  color: $text-link-event;
}

.login-button {
  color: rgb(147, 41, 143);
  font-weight: 100;
  text-align: center;
}

.oauth-button {
  display: flex;
  align-items: center;
  padding: 0.8em;
  font-size: 0.8em;
  margin: 0 0.5em;
  background-color: $button-bg-color;
  border: 2px solid $button-accent-color;
  border-radius: 8px;
  a {
    color: rgb(147, 41, 143);
  }
}

.oauth-button svg {
  margin-right: 0.4em;
}
