@use '../abstracts' as *;

#home-cards-main-container {
  display: flex;
  flex-direction: column;
  border: black;
}
#home-cards-container-1 {
  display: flex;
  justify-content: space-evenly;
  div {
    flex: 1;
  }
}

#home-cards-container-2 {
  display: flex;
  justify-content: space-evenly;
  div {
    flex: 1;
  }
}
