@use '../abstracts' as *;

#home-cards-main-container {
  display: flex;
  flex-direction: column;
  border: black;
  gap: 1.6rem;
}
#home-cards-container-1 {
  display: flex;
  justify-content: space-evenly;
  gap: 0.8rem;
  div {
    flex: 1;
  }
}

#home-cards-container-2 {
  display: flex;
  justify-content: space-evenly;
  gap: 0.8rem;

  div {
    flex: 1;
  }
}

.home-cards {
  display: flex;
  flex-direction: column;
  background-color: $bg-color;
  padding: 0.8rem;
  border-radius: 20px;
  gap: 0.8rem;
  min-height: 15rem;
  border: 5px rgb(64, 94, 177) solid;
  button {
    width: 100%;
  }

  button:hover {
    background-color: $text-link-event;
  }
}
